@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
.sec 
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: linear-gradient(180deg, #008aff,#ff137d);
    transition: 0.5s;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .log
{
    position: relative;
    max-width: 80px;
    border-radius: 80px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    
}
header ul 
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    text-decoration: bold;
    color: antiquewhite;
    font-weight: 400;
    margin-left: 100px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox h2
{
color:#fff;
font-size: 4em;
line-height: 1.5em;
font-weight: 900;
text-transform: uppercase;
}
.content .textBox h2 span
{
    font-size: 2em;
}
.content .textBox p
{
    
    margin: auto;
    align-content: left;
    color: #fff;
    
}
.para
{
    position:relative;
    padding-right: 700px;
    align-content: left;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;

}

.content .textBox a
{
    
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #008aff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.textBox a:hover
{
    transform:translateY(-15%);
    transition: 0.4s;
}
.content .imgBox 
{
width: 200px;
display: flex;
padding-right: 20px;
margin-top: 50px;
justify-content: flex-end;

}
.content .imgBox img
{
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0.5, 0.5, 0.5, 0.5);
}
.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform:translateX(-50%);
    display: flex;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li img
{
max-width: 40px;
border-radius: 15px;
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
}
.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.sci li
{
    list-style: none;
    

}
.sci :hover
{
    transform: translateX(-10px);
}
.sci li a
{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
    
  
}
.white-section
{
    width: 100%;
    min-height: 100vh;
    padding: 7% 15%;
    background-color: white;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: linear-gradient(180deg,#ff137d, #008aff);
    transition: 0.5s;
}
 
 .white-section::before
 {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(#ff137d, #008aff);
     clip-path: circle(30% at right 70%);
 }
 .white-section::after
 {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#008aff,#ff137d );
    clip-path: circle(20% at 10% 10%);
 }
 .container-fluid
 {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 1200px;
     flex-wrap: wrap;
     z-index: 1;
 }
 .container-fluid .circle
 {
     position: relative;
     width: 280px;
     height: 400px;
     margin: 30px;
     box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
     border-radius: 15px;
     background: rgba(255, 255, 255, 0.1);
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     border-top: 1px solid rgba(255, 255, 255, 0.5);
     border-left: 1px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(5px);
 }
 .circle 
 {
padding: 20px;
text-align: center;
transform: translateY(50px);

transition: 0.5s;
 }

 .circle h2
 {
     position: absolute;
     top: -30px;
     right: 30px;
     font-size: 8em;
     color: rgba(255, 255, 255, 0.05);
     pointer-events: none;
      
 }
 .circle p
 {
     font-size: 1em;
     color: #fff;
     font-weight: 300;
 }
  